* {

    box-sizing: border-box;
}



body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}
h1,h2,h3,h4,h5,h6{
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
}

button{
    cursor: pointer;
}

address{
    font-style: normal;
}

.section{
    padding-top: 120px;
    padding-bottom: 120px;
}

.container{

}

















.header {
    background: #FFF;
}

.header-container {
    width: 1440px;
    height: 72px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
}



.header-logo-web {
    color: #4d5ae5;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: flex;
}

.header-logo-studio {
    color: #2e2f42;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;

}

.header-navigation {
    display: flex;
    justify-content: space-between;
}

.header-navigation .header-menu-list {
    display: flex;
    gap: 40px;
}



.header-menu-item {}

.header-menu-link {
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.header-menu-list .header-menu-link:hover {
    color: #404BBF;
}

.header-menu-list .header-menu-link:focus {
    color: #404BBF;
}

.header-address {
    font-style: normal
}

.header-address-menu-list {
    display: flex;
    gap: 40px;
}

.header-address-menu-item {}

.header-address-mail-phone {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal
}

.header-address-menu-list .header-address-mail-phone:active {
    color: #404BBF;
}

.header-address-menu-list .header-address-mail-phone:hover,
.header-address-menu-list .header-address-mail-phone:focus {
    color: #404BBF;
}





















.solutions {
    background: #2E2F42;
}

.solutions-title {
    text-align: center;
    color: #FFF;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;

}

.solutions-btn {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background: #4D5AE5;
    cursor: pointer;
}

.solutions-btn:hover,
.solutions-btn:focus {
    background-color: #404BBF
}





















.desc {
    background: #FFF;
}

.desc .link {}

.desc-title {}

.desc-list {}

.desc-item {}

.desc-title-list {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.desc-par {
    color: #434455;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}






















.team {
    background: #F4F4FD;
}

.team-title {
    color: #2E2F42;
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}


.team-list {}

.team-item {
    background: #FFF;
}

.team-photo {}

.team-title-name {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.team-par {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}






















.portfolio {
    background: #FFF;
}

.portfolio-title {
    color: #2E2F42;
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.portfolio-list {}

.portfolio-item {}

.portfolio-photo {}

.portfolio-title-name {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.portfolio-par {
    color: #434455;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}




















.footer {
    background: #2E2F42;
}

.footer-paragraf {
    color: #F4F4FD;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer-logo-web {
    color: #4D5AE5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer-logo-studio {
    color: #F4F4FD;

    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}